<div class="c">
    <div class="para1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit distinctio, incidunt libero neque minima, qui perferendis ut reprehenderit sequi voluptate voluptatibus odio magnam illum vitae molestiae, beatae veniam quos. Odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, rerum? Veniam voluptatum molestiae rem rerum numquam deleniti, nemo, voluptatem ullam deserunt sequi error sunt doloribus qui, excepturi mollitia ipsa alias. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo vel quasi ducimus quos magnam, perferendis tempore ex hic adipisci! Culpa quaerat tempore deleniti ut totam dicta officiis accusantium, eaque voluptatum.</p>
    </div>
    <div class="img2">
        <img src="./images/pexels-pavel-danilyuk-7120871.jpg" width="50%">
    </div>